PORT=3000
DATABASE_URL="mysql://user:password@localhost:3306/dbname"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:4200"
NODE_ENV=development
JWT_ACCESS_SECRET="change-me-access-secret-min-32-chars-long"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-chars-long"
